#container {
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 90%;
    .personContain {
        background-color: @darkergrey;
        border-radius: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-self: center;
        width: 80%;
        margin: 2% 0;
        overflow: hidden;
        .imgContainer {
            background-color: #242424;
            width: 15%;
            padding: 1% 0 1% 2%;
            img {
                width: 80%;
                border-radius: 50%;
                border: 1px solid @darkgrey;
                background-color: white;
            }
        }
        .bio {
            width: 82%;
            p {
                font-size: .8rem;
                padding: 2%;
            }
        }
        .nameTitle {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            h2 {
                font-size: 1.6rem;
                padding: 1% 2%;
            }
            h4 {
                font-size: 1.3rem;
            }
        }
    }
    @media @tablet {
        padding-top: 5%;
        .personContain {
            width: 95%;
            .imgContainer {
                padding-left: 1%;
            }
            .nameTitle {
                h2 {
                    font-size: 1.3rem;
                }
                h4 {
                    font-size: 1rem;
                    padding: 1% 2%;
                }
            }
        }
    }
    @media @mobile {
        padding-top: 0;
        .personContain {
            flex-flow: column wrap;
            .imgContainer {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 3%;
                img {
                    width: 20%;
                }
            }
            .bio {
                text-align: center;
                width: 100%;
            }
            .nameTitle {
                justify-content: space-between;
            }
        }
    }
}